.silentRobbery {
  background-color: #cd9540;
  /* background-color: #090b50; */
  color: white;
  padding: 60px 0;
}

.robberyTypes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
}

.robberyItem {
  flex-basis: 22%;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 25px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.robberyItem:hover {
  transform: translateY(-5px);
}

.robberyItem h3 {
  margin-top: 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 10px;
  margin-bottom: 15px;
}

/* .robberyItem h2 {
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
} */

.lastWarning {
  margin-top: 15px;
  margin-bottom: -5px;
  text-align: center;
  color: #2980b9;
}

@media (max-width: 992px) {
  .robberyItem {
    flex-basis: 48%;
  }
}

@media (max-width: 768px) {
  .robberyItem {
    flex-basis: 100%;
  }
}