.videoSection {
  background-color: white;
  text-align: center;
}

.videoPlaceholder {
  width: 100%;
  max-width: 800px;
  height: 450px;
  margin: 0 auto;
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}